<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/responsive.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
        <link rel="icon" type="image/ico" href="/images/camera.ico">
        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
        <script src="/Vue/main.js" defer></script>
    </head>
    <body>
        <div class="header" id="white">
            <div class="wrapper" >
                <div class="row">
                    <div class="w-2" id="head">
                        <div id="logo">
                            <img src="/images/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="w-2 aligh-right" id="head">
                        <div id="search">
                            <div id="search-in" class="flex">
                                <input type="text" placeholder="Search">
                                <button>Submit</button>
                            </div>
                        </div>
                        <div id="menu">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="">Company profile</a></li>
                                <li><a href="/tomato_all.html">Products</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">R & D</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img width="100%" src="/images/field.jpg" id="banner" style="margin-bottom: -3px;">
        <div id="gray2">
            <div id="products">
            <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->
                <div class="wrapper" id="contact-us-h1">
                    <h1>Your cart</h1>
                    <div class="your-cart">
                        <table>
                            <tr class="cart" v-for="item in cart">
                                <td><img width="100%" v-bind:src="item.image"></td>
                                <td>{{item.title}}</td>
                                <td>{{item.short_text}}</td>
                                <td><button @click="removeFromCart(item.id)">X</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->
                <div class="wrapper" id="contact-us-h1">
                    <h1>Contact us</h1>
                    <img src="/images/Union-text.png" id="Union-text">
                </div>
                <div class="wrapper">
                    <div class="row">
                        <form action="" method="get" id="contact_us" @submit.prevent="makeOrder" v-if="formVisible">                       
                            <div class="form">
                                                                         
                                <div class="w-3" id="cont-form-100">                            
                                    <p>Name *</p>
                                    <input type="text" id="name" name="name" v-model="contactFields.name" required>
                                    <p>Company Name </p>
                                    <input type="text" id="company" name="company" v-model="contactFields.company" required>
                                    <p>Position</p>
                                    <input type="text" id="position" name="position" v-model="contactFields.position" required>
                                    <p>City</p>
                                    <input type="text" id="city" name="city" v-model="contactFields.city" required>
                                    <p>Country</p>
                                    <input type="text" id="country" name="country" v-model="contactFields.country" required>
                                    <p>Telephone</p>
                                    <input type="tel" id="phone" name="phone" v-model="contactFields.phone" required>
                                    <p>Email *</p>
                                    <input type="email" id="mail" name="mail" v-model="contactFields.mail" required>
                                </div>
                            </div>
                            <div class="w-10"><p></p></div>
                            <div class="form2">  
                                <div class="w-2" id="cont-form-100">
                                    <p>You are a</p>
                                    <select type="text" id="job" name="job" v-model="contactFields.job" required>
                                        <option selected></option>
                                        <option>seed producer</option>
                                        <option>other</option>
                                    </select>
                                    <p>If other, please specify</p>
                                    <input type="text" id="details" name="details" v-model="contactFields.details" required>
                                    <p>You are interested in</p>
                                    <div class="form-inter">
                                       <input type="text" id="interest" name="interest" v-model="contactFields.interest" required>
                                    </div>
                                    <p>Please type this code</p>
                                    <div class="flex">
                                        <img width="99px" id="capcha" src="/images/capcha.png">
                                        <textarea v-model="contactFields.capcha" required></textarea>                                    
                                        <button type="submit" form="contact_us" value="Submit" :disabled="formSubmitted">Send Message</button>
                                    </div>
                                </div>                          
                            </div>
                        </form>                         
                    </div>
                </div>       
        <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->
                <div class="wrapper" v-if="!formVisible">
                    <div class="Submitted-information">
                        <p>Name: {{contactFields.name}}</p>
                        <p>Company: {{contactFields.company}}</p>
                        <p>Position: {{contactFields.position}}</p>
                        <p>City: {{contactFields.city}}</p>
                        <p>Country: {{contactFields.country}}</p>
                        <p>Telephone: {{contactFields.phone}}</p>
                        <p>Email: {{contactFields.mail}}</p>
                        <p>You are a: {{contactFields.job}}</p>
                        <p>Details: {{contactFields.details}}</p>
                        <p>Interest: {{contactFields.interest}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->
        <div class="address" id="white">
            <div class="wrapper">
                <div class="centr">
                    <div class="w-3" id="cont-address">                    
                        <h3>Our Address</h3>
                        <img src="/images/Line.png">
                        <p>AGRIDERA Seeds & Agriculture Ltd.</p>
                        <p>P.O Box 103,</p>
                        <p>Gedera 70750, Israel.</p>
                        <p>Telephone: <a href="tel:97289449222">+972 8 944 9222</a></p>
                    </div>
                </div>
            </div>
            <div class="wrapper" style="padding: 15px;"></div> 
        </div>
        <div class="footer">
            <div id="menu-footer">
                <div class="wrapper">
                    <div class="row">
                        <div class="centr" id="centr-special">
                            <div class="w-2" id="legs" style="padding: 10px;">
                                    <ul id="legs2">
                                        <li><a href="/index.html">Home</a></li>
                                        <li><a href="">Company profile</a></li>
                                        <li><a href="/tomato_all.html">Products</a></li>
                                        <li><a href="">Services</a></li>
                                        <li><a href="">R & D</a></li>
                                        <li><a href="/contact.html">Contact</a></li>
                                    </ul>
                            </div>
                            <div class="w-4" id="legs" style="margin-top:5px;">
                                <ul>
                                    <li><a href=""><img src="/images/Ico_in.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_inst.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_tube.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_tw.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_fb.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                   
                </div>               
            </div>               
            <div class="end">
                <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
            </div>
        </div>
    </body>
<html>




