<!DOCTYPE html>
<html>
    <head>
        <title>Tomato one</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/responsive.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
        <link rel="icon" type="image/ico" href="/images/tomato.ico">
        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
        <script src="/Vue/main.js" defer></script>
    </head>
    <body id="back2">
        <div class="header" id="white">
            <div class="wrapper" >
                <div class="row">
                    <div class="w-2" id="head">
                        <div id="logo">
                            <img src="/images/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="w-2 aligh-right" id="head">
                        <div id="search">
                            <div id="search-in" class="flex">
                                <input type="text" placeholder="Search">
                                <button>Submit</button>
                            </div>
                        </div>
                        <div id="menu">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="">Company profile</a></li>
                                <li><a href="/tomato_all.html">Products</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">R & D</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="return">
                <a href="/tomato_all.html">
                    <p><img src="/images/Arrow 1.png"> Return to all tomatoes</p>
                </a>
            </div>
        </div>

        <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->  
        <!--dwdsddwdwdwdwdwddwdwwdwdwdwdw-->  
<div id="products">
    <div class="wrapper">
        <div class="row">
            <div class="w-2">
                <div class="prod-info-title">
                    <span style="color:#324950;"><h1>{{product.title}}</h1></span>
                    <span style="color:#57984C;"><h2>{{product.short_text}}</h2></span>
                </div>
                <div class="wrapper" style="padding-top: 10px;"></div>
                <img src="/images/Union-text.png" id="Union-text">
                <div class="wrapper" style="padding-top: 20px;"></div>
                <div id="quality">
                    <div class="row">
                        <div class="w-5">
                            <img id="qual-img" src="/images/red_icon_tomato.png">
                        </div>
                        <div class="w-70pro">                        
                            <p>Very high yield and excellent fruits quality!</p>
                        </div>
                    </div>
                    <div class="wrapper" style="padding-top: 10px;"></div>
                </div>
            </div>
            <div class="w-2">
                <div class="prod-info-image">
                    <img width="100%" v-bind:src="product.image" alt="Product Image">
                </div>
                <div class="wrapper" align="right">
                    <a id="tomato-one-button" href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                        <img src="/images/ico_pdf.png">
                        <p>Add to cart</p> 
                    </a> 
                </div>
                <div class="wrapper" align="right">
                    <a id="tomato-one-button" href="/contact.html" v-if="btnVisible">
                        <img src="/images/ico_pdf.png">
                        <p>Go to cart</p> 
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="prod-info-desc">
            <p>{{product.description}}</p>
        </div>
    </div>
</div>       

<!--dwdsddwdwdwdwdwddwdwwdwdwdwdw--> 
        <div class="wrapper" style="padding-top: 100px;"></div>
        <div class="footer">
            <div id="menu-footer">
                <div class="wrapper">
                    <div class="row">
                        <div class="centr" id="centr-special">
                            <div class="w-2" id="legs" style="padding: 10px;">
                                    <ul id="legs2">
                                        <li><a href="/index.html">Home</a></li>
                                        <li><a href="">Company profile</a></li>
                                        <li><a href="/tomato_all.html">Products</a></li>
                                        <li><a href="">Services</a></li>
                                        <li><a href="">R & D</a></li>
                                        <li><a href="/contact.html">Contact</a></li>
                                    </ul>
                            </div>
                            <div class="w-4" id="legs" style="margin-top:5px;">
                                <ul>
                                    <li><a href=""><img src="/images/Ico_in.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_inst.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_tube.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_tw.png"></a></li>
                                    <li><a href=""><img src="/images/Ico_fb.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                   
                </div>               
            </div>               
            <div class="end">
                <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
            </div>
        </div>
    </body>
</html>